@font-face {
	src: url(Fonts/Satisfy-Regular.ttf);
	font-family: 'Satisfy';
}


@font-face {
	src: url(Fonts/Lato-Regular.ttf);
	font-family: 'Lato';
}




h1 {
	margin-top: 70px;
	font-size: 40px;
	text-align: center;
	font-family: 'Satisfy';
}

h2 {
	font-size: 40px;
	font-family: 'Satisfy';
	color: rgba(116, 169, 106, 0.5);
}

h3 {
	font-size: 40px;
	font-family: 'Satisfy';
	color: rgba(116, 169, 106, 0.5);
}

hr {
	border: none;
	border-top: 3px double #333;
	color: #333;
	overflow: visible;
	text-align: center;
	height: 5px;
}

hr:after {
	background: #fff;
	content: '§';
	padding: 0 4px;
	position: relative;
	top: -13px;
}

.grid-container {
	display: grid;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	grid-template-columns: repeat(9, 1fr);


}

.container {
	position: relative;
	text-align: center;
	color: black;
}

.paper {
	height: 300px;
}

.centered {
	padding-bottom: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.grid-item1 {
	grid-column-start: 1;
	grid-column-end: 10;
	text-align: center;
	min-width: 1230px;
	grid-row: 1;
}

.grid-item2 {
	grid-column: 3 / 8;
	grid-row: 2;
	text-align: center;
	min-width: 600px;
}

.grid-item-ageBtn-14-25 {
	grid-column: 4 / 5;
	grid-row: 2;
	position: relative;
	padding-top: 100px;
	text-align: right;
}

.grid-item-ageBtn-35-50 {
	grid-column: 5 / 6;
	grid-row: 2;
	position: relative;
	padding-top: 100px;
	text-align: center;
}

.grid-item-ageBtn-50-plus {
	grid-column: 6 / 7;
	grid-row: 2;
	position: relative;
	padding-top: 100px;
	text-align: left;
}

.age {
	color: green;
	cursor: pointer;
	transition: 0.4s;
	width: 150px;
	height: 30px;
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
	border-style: solid;
	border-color: #fff;

}

#menu-btn {
	background-color: rgba(116, 169, 106, 0.5);
}

#menu-btn2 {
	background-color: rgba(255, 238, 4, 0.9);
}

#menu-btn3 {
	background-color: rgba(217, 76, 0, 1);
	color: white;
}

#menu-btn:hover {

	background-color: rgba(116, 169, 106, 0.2);
}

#menu-btn2:hover {
	background-color: rgba(255, 238, 4, 0.4);
}

#menu-btn3:hover {
	background-color: rgba(217, 76, 0, 0.6);
}

.picure1 {
	width: 60%;
	max-width: 350px;
}

.picture2 {
	width: 60%;
	max-width: 350px;
}

.picture3 {
	width: 60%;
	max-width: 350px;
}

.grid-item-low-age-image {
	grid-column: 1 / 4;
	grid-row: 3;
	min-width: 300px;
	text-align: right;

}

.grid-item-low-age-text {
	grid-column: 4 / 8;
	grid-row: 3;
}

.grid-item-middle-age-image {
	grid-column: 1 / 4;
	grid-row: 6;
	min-width: 300px;
	text-align: right;
}

.grid-item-middle-age-text {
	grid-column: 4 / 8;
	grid-row: 6;
}

.grid-item-high-age-image {
	grid-column: 1 / 4;
	grid-row: 9;
	min-width: 300px;
	text-align: right;
}

.grid-item-high-age-text {
	grid-column: 4 / 8;
	grid-row: 9;
}

.grid-item-br1 {
	grid-column: 4 / 7;
	grid-row: 5;
	max-height: 10px;
}

.grid-item-br2 {
	grid-column: 4 / 7;
	grid-row: 8;
	max-height: 10px;
}

.box {
	width: 300px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 25px;
}

.slide-img {
	height: 450px;
	position: relative;
}

.slide-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

.detail-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: calibri;
}

.type {
	display: flex;
	flex-direction: column;
}

.type a {
	color: #222222;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}

.type span {
	color: rgba(26, 26, 26, 0.5);
}

.price {
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: poppins;
	letter-spacing: 0.5px;
}

.overlay {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: rgba(92, 95, 236, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.buy-btn {
	width: 160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color: #252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover {
	color: #FFFFFF;
	background-color: #f15fa3;
	transition: all ease 0.3s;
}

.overlay {
	visibility: hidden;
}

.slide-img:hover .overlay {
	visibility: visible;
	animation: fade 0.5s;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.slider1 {
	grid-column: 2 / 9;
	grid-row: 4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider2 {
	grid-column: 2 / 9;
	grid-row: 7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider3 {
	grid-column: 2 / 9;
	grid-row: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}